.tilleg {
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  &_item-img {
    height: 307px;
    object-fit: cover;
  }

  &_title {
    margin-top: 75px;
  }

  &_list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;

    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
  }

  &_item-description {
    font-size: 12px;
    padding: 20px 30px;
    &_price {
      font-size: 12px;
      width: 95%;
      max-width: 95%;
      margin-top: 10px;

      &_second {
        font-size: 12px;
        width: 95%;
        max-width: 95%;
      }
    }
  }
}
