.banner {
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 60px;
  overflow: hidden;
  box-shadow: 0px 40px 65px 5px rgba(212, 148, 30, 0.5);

  background-image: url(../i/img/bg-500.png);
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  position: relative;

  &_main {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_title {
    color: white;
    // font-size: 43px;
    font-family: $wowFontFamily;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 40px 0;
    text-align: center;
    // text-transform: uppercase;
    max-width: 80%;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
    font-size: 8vw;
    // max-width: 300px;
  }

  &_button {
    margin: 0 auto;
    border-radius: 26px;
    font-size: 14px;
    line-height: 1.2;
    height: 55px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 280px;
    background: linear-gradient(267.08deg, #ff66d4 0.55%, #a966ff 99.66%);
    box-shadow: 0 8px 15px rgba(157, 52, 184, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: $mainFontFamily;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      transform: translateY(-2px); /* Небольшой подъем при наведении */
      box-shadow: 0 12px 20px rgba(157, 52, 184, 0.35); /* Усиление тени */
    }
  }

  &_text {
    margin: 0;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    width: 90%;
    max-width: 250px;
  }

  &_img {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    max-width: 360px;
    margin-bottom: 0;
  }
}

.title-div_motor_button {
  display: none;
}
