/* Затемнение экрана */
.overlayhelter {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Контейнер модального окна */
.overlayhelter-block {
  background: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 450px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;

  background-image:
    linear-gradient(90deg, rgba(238, 110, 245, 0.5), rgba(87, 185, 255, 0.5)),
    url(../i/img/baloong.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Кнопка закрытия */
.close-button {
  position: sticky;
  top: 10px;
  right: 10px;
  background: white;
  color: black;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background: #c5303d;
}

/* Заголовок */
.overlayhelter-title {
  font-size: 24px;
  font-family: $wowFontFamily;
  font-weight: bold;
  margin-bottom: 24px; /**MARGIN**/
  text-align: left;
}

.overlayhelter-price {
  margin-bottom: 12px; /**MARGIN**/
  text-align: left;
}

/* Блок с ценой */
.overlayhelter-price-number {
  font-size: 14px;
  font-weight: bold;
  font-family: $wowFontFamily;
  background-color: #3db413;
  color: white;
  padding: 6px 12px;
  border-radius: 16px;
  margin-right: 8px;
}

.overlayhelter-price-text {
  font-size: 14px;
  color: black;
  margin-left: 4px;
}

/* Видео */
.overlayhelter-video {
  width: 100%;
  max-width: 400px;
  margin: 8px 0;
  border-radius: 5px;
  margin-bottom: 24px; /**MARGIN**/
}

/* Подзаголовки и текст */
.overlayhelter-textblock-subtitle,
.overlayhelter-textblock-subtitle-2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /**MARGIN**/
  text-align: left;
  font-family: $wowFontFamily;
  margin-top: 20px;
}

.overlayhelter-textblock-subtitle-text,
.overlayhelter-textblock-extratext {
  font-size: 15px;
  color: black;
  text-align: left;
  margin-bottom: 24px; /**MARGIN**/
}

/* Грид с изображениями */
.overlayhelter-textblock-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  margin: 8px 0;
  margin-bottom: 24px; /**MARGIN**/
}

.overlayhelter-textblock-grid-item {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.overlayhelter-textblock-grid-item img {
  width: 100px;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.overlayhelter-textblock-grid-item p {
  margin-top: 4px;
  font-size: 14px;
  font-weight: bold;
  font-family: $wowFontFamily;
  background: linear-gradient(90deg, #c366f0 0%, #ec66dc 100%);
  color: white;
  padding: 6px 12px;
  border-radius: 16px;
  margin-right: 8px;
  width: auto;
}
.overlayhelter-textblock {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.overlayhelter-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 соотношение сторон */
  height: 0;
  overflow: hidden;
}

.overlayhelter-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
