.prices {
  width: 85%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  &_title {
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 1.2;
    padding: 20px 0;
    color: #3a3a3a;
    letter-spacing: 1.2px;
    font-family: $wowFontFamily;
  }

  &_description {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f1419c;
    font-family: $mainFontFamily;
    margin-bottom: 40px;
  }
  &_pack {
    list-style-type: none;
    padding-inline-start: 0;
    &_block {
      max-width: 460px;
      padding: 20px 32px 40px;
      margin: 0 auto 40px;
      border: 6px solid;
      background-color: #fff;
      box-shadow: 0 4px 250px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      display: flex;
      flex-direction: column;

      &_1 {
        border-color: #ffde2e;
      }

      &_2 {
        border-color: #fd7777;
      }

      &_3 {
        border-color: #a15cff;
      }

      &_4 {
        border-color: #8fc832;
      }
      &_title {
        text-align: center;
        line-height: 46px;
        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 20px;
        border-radius: 48px;
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        &_1 {
          background-color: #ffde2e;
        }
        &_2 {
          background-color: #fd7777;
        }
        &_3 {
          background-color: #a15cff;
        }
        &_4 {
          background-color: #8fc832;
        }
      }

      &_time {
        font-family: $wowFontFamily;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height: 18px;
        margin-top: 10px;
      }

      &_listin {
        margin-top: 30px;
        list-style-type: disc;
        font-family: $wowFontFamily;
        font-size: 18px;
        line-height: 28px;
      }

      &_price {
        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        margin-top: 0;
        background-color: #ffde2e;
        color: #fff;
        padding: 10px;
        border-radius: 48px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        &_1 {
          background-color: #ffde2e;
          margin-top: 70px;
        }
        &_2 {
          background-color: #fd7777;
          &_old {
            color: #fd7777;
            background-color: initial;
            text-decoration: line-through;
            font-size: 16px;
          }
        }
        &_3 {
          background-color: #a15cff;
          &_old {
            color: #a15cff;
            background-color: initial;
            text-decoration: line-through;
            font-size: 16px;
          }
        }
        &_4 {
          background-color: #8fc832;
          &_old {
            color: #8fc832;
            background-color: initial;
            text-decoration: line-through;
            font-size: 16px;
          }
        }
      }
    }
  }

  &_avreise {
    color: #e93388;
    font-family: $wowFontFamily;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  &_kaker {
    color: #c35ebd;
    font-family: $wowFontFamily;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  &_extra {
    border-radius: 40px;
    padding: 20px 4px 40px;
    box-shadow: 0 4px 250px rgba(0, 0, 0, 0.25);
    margin-top: 40px;

    &_title {
      font-family: $wowFontFamily;
      color: #3a3a3a;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 1.2;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 30px;
    }

    &_list {
      font-family: $mainFontFamily;
      color: #3a3a3a;
      font-size: 18px;
      line-height: 50px;
      padding-inline-start: 30px;

      &_num {
        background-color: #e5206b;
        padding: 10px;
        border-radius: 30px;
        color: white;

        &_2 {
          background-color: #c35ebd;
        }
      }
    }
  }
}
