.show {
  position: relative;
  width: 90%;
  max-width: 470px;
  line-height: 0;

  background-image: url(../i/img/show-bg-s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  border-radius: 40px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 60px;
  padding-bottom: 250px;

  &_title {
    // font-size: 38px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 800;
    font-family: $wowFontFamily;
    color: #f9e853;
    padding-top: 95px;

    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 8vw;

    &_sec {
      font-size: 20px;
      font-family: $wowFontFamily;
      color: #ffffff;
      line-height: 1.2;
      text-align: center;
    }
  }
  &_main-text {
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f9e853;
    font-weight: 600;

    font-family: $mainFontFamily;
    margin-top: 65px;
    margin-bottom: 55px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
  }

  &_vent-snart {
    font-size: 38px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 800;
    font-family: $wowFontFamily;
    color: #ffffff;
    background: #f54ea4;
    width: 315px;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
  }
}

.show_wave1 {
  width: 100%;
}
.show_wave2 {
  width: 100%;
  bottom: 0;
}
