.show {
  width: 70%;
  padding-bottom: 300px;
  &_main-text {
    color: #3a3a3a;
    font-weight: 600;
  }
  &_title {
    font-weight: 800;
    line-height: 1.2;
    font-size: 38px;
  }
  &_main-text {
    margin-bottom: 20px;
  }

  &_vent-snart {
    font-size: 28px;
  }
}
